.pagination
  text-align: center
  margin: $base-spacing * 1.5 0 0
  display: flex
  justify-content: center
  align-items: center

  @extend %clearfix

  li
    padding: 0 .4em

  li, a, span
    display: inline-block

  a, span
    line-height: 1.2em
    font-size: rem(13)
    font-family: $heading-font-family

  .page-number
    color: $medium-gray-color
    font-style: normal
    font-weight: $font-weight-medium
    padding: 0 1em

  span.disabled
    opacity: 0.4
